*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    width: 400px;
    padding: 20px 25px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);;
    background:#fff;
    border-radius: 5px;  
}
body{
    background-color: rgb(40, 35, 35);
}
.container p{
    font: bold 18px Arial, "Helvetica Neue", Helvetica;
    margin-bottom: 8px;
}
.container input{
    border: 1px solid #2d2828;
    border-radius:5px;
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 100%;
    height: 50px;
}
.container button{
    background:#494eea;
    color:#fff;
    border-radius:5px;
    box-shadow:  0 10px 10px rgba(0,0,0,0);
    font-weight:600px;
    margin: 20px 0 20px 0;
    height: 50px;
    width: 100%;

}
#imgbox{
    width:200px;
    border-radius: 5px;
    max-height:0;
    overflow:hidden;
    transition: max-height 1s linear;

}
#imgbox img{
    width:100%;
    padding: 10px;
}
#imgbox.show-img{
    max-height:300px;
    margin:10px auto;
    border:1px solid #2d2828;
}
.error{
    animation: shake 0.1s linear 5;

}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0);
    }
}